.hide {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, input, textarea, button {
  line-height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem; }

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem; }

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem; }

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem; }

a {
  text-decoration: none;
  list-style-type: none; }

.container {
  max-width: 1200px; }

header {
  background-color: #0d1d2c;
  height: 100vh;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 5; }
  header .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500; }
    header .menu-nav .nav-item {
      padding: 2rem 0rem 0rem 8rem;
      margin-right: 2rem; }
    header .menu-nav .nav-link {
      white-space: nowrap;
      color: white; }
    header .menu-nav .nav-link:hover {
      transition: all .2s ease-in-out;
      color: #FFF7D9; }
    header .menu-nav .nav-item-line {
      background: white;
      margin: 1rem 2rem;
      padding: 0rem 0rem 2px 8rem; }
  @media screen and (max-width: 1200px) {
    header {
      width: 175px; } }
  @media screen and (max-width: 992px) {
    header {
      width: 150px; }
      header .menu-nav {
        font-size: 1rem;
        font-weight: 500; }
        header .menu-nav .nav-item {
          padding: 2rem 0rem 0rem 8rem;
          margin-right: 1rem; }
        header .menu-nav .nav-link {
          white-space: nowrap;
          color: white; }
        header .menu-nav .nav-link:hover {
          transition: all .2s ease-in-out;
          color: #FFF7D9; }
        header .menu-nav .nav-item-line {
          background: white;
          margin: 1rem 1rem;
          padding: 0rem 0rem 2px 7rem; } }
  @media screen and (max-width: 768px) {
    header {
      width: 120px; }
      header .menu-nav {
        font-size: .9rem;
        font-weight: 500; }
        header .menu-nav .nav-item {
          padding: 2rem 0rem 0rem 8rem;
          margin-right: 1rem; }
        header .menu-nav .nav-link {
          white-space: nowrap;
          color: white; }
        header .menu-nav .nav-link:hover {
          transition: all .2s ease-in-out;
          color: #FFF7D9; }
        header .menu-nav .nav-item-line {
          background: white;
          margin: 1rem 1rem;
          padding: 0rem 0rem 2px 6rem; } }
  @media screen and (max-width: 576px) {
    header {
      display: none; } }

body main {
  display: flex;
  flex-direction: column;
  margin-left: 200px; }
  @media screen and (max-width: 1200px) {
    body main {
      margin-left: 175px; } }
  @media screen and (max-width: 992px) {
    body main {
      margin-left: 150px; } }
  @media screen and (max-width: 768px) {
    body main {
      margin-left: 120px; } }
  @media screen and (max-width: 576px) {
    body main {
      margin-left: 0; } }
  body main #home {
    color: white;
    padding: 5rem;
    height: 100vh;
    background: url(../img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; }
    body main #home::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(0, 0, 0, 0.8); }
    body main #home .home-title {
      z-index: 1;
      display: flex;
      flex-direction: column; }
      body main #home .home-title h1 {
        font-size: 4rem;
        margin-bottom: .5rem; }
      body main #home .home-title p {
        margin-bottom: 1.5rem;
        margin-left: .1rem; }
    body main #home .cta {
      display: flex;
      z-index: 1; }
      body main #home .cta a {
        margin-right: .5rem;
        padding: 1rem 1.5rem;
        border: 2px solid #ffffff;
        background: #0d1d2c;
        color: white;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        transition: all .2s ease-in-out; }
        body main #home .cta a a {
          color: white; }
        body main #home .cta a:hover {
          cursor: pointer;
          background-color: #ffffff;
          border: 2px solid #0d1d2c;
          color: #0d1d2c; }
    @media screen and (max-width: 992px) {
      body main #home .home-title h1 {
        font-size: 3.5rem; }
      body main #home .cta a {
        padding: .75rem .75rem; } }
    @media screen and (max-width: 768px) {
      body main #home .home-title h1 {
        font-size: 2rem; }
      body main #home .home-title p {
        font-size: 1rem; }
      body main #home .cta a {
        font-size: .8rem;
        padding: .5rem; } }
    @media screen and (max-width: 576px) {
      body main #home .home-title {
        align-items: center; }
        body main #home .home-title .cta a:last-child {
          margin: 0; } }
    @media screen and (max-width: 414px) {
      body main #home {
        padding: 2rem; }
        body main #home .home-title h1 {
          font-size: 1.8rem; }
        body main #home .home-title p {
          font-size: .9rem; } }
  body main #about {
    background: #d4d8e2;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    body main #about .about-wrapper {
      background: #d4d8e2;
      border-radius: 5px;
      display: flex; }
      body main #about .about-wrapper .about-head {
        width: 35%;
        border-radius: 20px 0 0 20px;
        background: #FFF7D9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body main #about .about-wrapper .about-head .ah-image {
          border: 2px solid #0d1d2c;
          border-radius: 50%;
          height: 300px;
          width: 300px; }
      body main #about .about-wrapper .about-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        width: 65%;
        z-index: 1;
        padding: 2rem;
        background: #0d1d2c;
        border-radius: 0 20px 20px 0; }
        body main #about .about-wrapper .about-description p {
          padding-bottom: .5rem; }
        body main #about .about-wrapper .about-description h3 {
          margin-top: 1rem; }
    @media screen and (max-width: 1440px) {
      body main #about .about-wrapper {
        height: auto; }
        body main #about .about-wrapper .about-head .ah-image {
          height: 275px;
          width: 275px; }
        body main #about .about-wrapper .about-description {
          width: 80%;
          padding: 1.5rem; }
          body main #about .about-wrapper .about-description h2 {
            font-size: 2rem; }
          body main #about .about-wrapper .about-description h3 {
            font-size: 1.4rem;
            margin-top: .2rem; }
          body main #about .about-wrapper .about-description p {
            font-size: 1rem;
            line-height: 1.4rem; } }
    @media screen and (max-width: 1200px) {
      body main #about .about-wrapper {
        height: auto; }
        body main #about .about-wrapper .about-head .ah-image {
          height: 200px;
          width: 200px; }
        body main #about .about-wrapper .about-description {
          width: 90%;
          padding: 1rem; }
          body main #about .about-wrapper .about-description h2 {
            font-size: 2rem;
            line-height: 2.5rem; }
          body main #about .about-wrapper .about-description h3 {
            font-size: 1.4rem;
            line-height: 2.5rem; }
          body main #about .about-wrapper .about-description p {
            font-size: 1rem;
            line-height: 1.2rem; } }
    @media screen and (max-width: 992px) {
      body main #about {
        padding: 1.5rem; }
        body main #about .about-wrapper {
          height: auto;
          flex-direction: column; }
          body main #about .about-wrapper .about-head {
            width: 100%;
            border-radius: 20px 20px 0 0;
            padding: .5rem; }
            body main #about .about-wrapper .about-head .ah-image {
              height: 150px;
              width: 150px; }
          body main #about .about-wrapper .about-description {
            width: 100%;
            padding: 1rem;
            border-radius: 0 0 20px 20px; }
            body main #about .about-wrapper .about-description h2 {
              font-size: 1.8rem;
              line-height: 2.5rem;
              text-align: center; }
            body main #about .about-wrapper .about-description h3 {
              font-size: 1.4rem;
              line-height: 2.5rem; }
            body main #about .about-wrapper .about-description p {
              font-size: .9rem;
              line-height: 1.2rem; } }
    @media screen and (max-width: 768px) {
      body main #about {
        padding: .5rem; }
        body main #about .about-wrapper {
          height: auto;
          flex-direction: column; }
          body main #about .about-wrapper .about-head {
            width: 100%;
            border-radius: 20px 20px 0 0;
            padding: .5rem; }
            body main #about .about-wrapper .about-head .ah-image {
              height: 150px;
              width: 150px; }
          body main #about .about-wrapper .about-description {
            width: 100%;
            padding: 1rem;
            border-radius: 0 0 20px 20px; }
            body main #about .about-wrapper .about-description h2 {
              font-size: 1.6rem;
              line-height: 2.5rem;
              text-align: center; }
            body main #about .about-wrapper .about-description h3 {
              font-size: 1.1rem;
              line-height: 2.2rem; }
            body main #about .about-wrapper .about-description p {
              font-size: .85rem;
              line-height: 1.1rem; } }
    @media screen and (max-width: 576px) {
      body main #about {
        padding: .5rem; }
        body main #about .about-wrapper {
          height: auto;
          flex-direction: column; }
          body main #about .about-wrapper .about-head {
            width: 100%;
            border-radius: 20px 20px 0 0;
            padding: .5rem; }
            body main #about .about-wrapper .about-head .ah-image {
              height: 150px;
              width: 150px; }
          body main #about .about-wrapper .about-description {
            width: 100%;
            padding: 1rem;
            border-radius: 0 0 20px 20px; }
            body main #about .about-wrapper .about-description h2 {
              font-size: 1.8rem;
              line-height: 2.5rem;
              text-align: center; }
            body main #about .about-wrapper .about-description h3 {
              font-size: 1.3rem;
              line-height: 2.2rem; }
            body main #about .about-wrapper .about-description p {
              font-size: .9rem;
              line-height: 1.1rem; }
            body main #about .about-wrapper .about-description br {
              display: none; } }
    @media screen and (max-width: 414px) {
      body main #about .about-wrapper .about-description h2 {
        font-size: 1.5rem; }
      body main #about .about-wrapper .about-description h3 {
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin-bottom: .5rem; }
      body main #about .about-wrapper .about-description p {
        font-size: .8rem;
        line-height: 1.1rem; } }
  body main #skills {
    background-color: white;
    color: #0d1d2c;
    padding: 2rem 0;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body main #skills .skills-container {
      max-width: 800px; }
      body main #skills .skills-container .skills-top {
        margin-bottom: 2rem; }
        body main #skills .skills-container .skills-top .st-header {
          text-align: center;
          padding: 2rem 0;
          position: relative; }
          body main #skills .skills-container .skills-top .st-header:after {
            content: '';
            background: #0d1d2c;
            height: 2px;
            width: 50px;
            position: absolute;
            top: 80%;
            left: 47%; }
        body main #skills .skills-container .skills-top .st-body .st-items {
          padding-right: .5rem;
          text-align: center; }
          body main #skills .skills-container .skills-top .st-body .st-items p {
            font-size: .8rem;
            font-weight: 500; }
        body main #skills .skills-container .skills-top .st-body .st-wrapper-fe {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-bottom: 2rem; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe #htmlP {
            color: #F16529; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe #cssP {
            color: #2565AE; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe #jsP {
            color: #E78625; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe #designP {
            color: #04887A; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe #sassP {
            color: #CD6799; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe #bootstrapP {
            color: #553C7B; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe #jqueryP {
            height: 30px;
            width: 30px; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-fe .st-items {
            padding: 0 .8rem;
            margin-bottom: .5rem;
            text-align: center; }
            @media (max-width: 768px) {
              body main #skills .skills-container .skills-top .st-body .st-wrapper-fe .st-items {
                padding: 0;
                flex-basis: 25%; } }
            body main #skills .skills-container .skills-top .st-body .st-wrapper-fe .st-items p {
              font-size: 1rem;
              font-weight: 500; }
        body main #skills .skills-container .skills-top .st-body .st-wrapper-beo {
          display: flex;
          justify-content: center; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-beo #nodeP {
            color: #3C873A; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-beo #jsonP {
            color: #FFAE41;
            height: 29px;
            width: 29px; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-beo #phpP {
            color: #474A8A; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-beo #wordpressP {
            color: #00749C; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-beo #gitP {
            color: #333333; }
          body main #skills .skills-container .skills-top .st-body .st-wrapper-beo .st-items {
            padding: 0 .8rem;
            margin-bottom: .5rem;
            text-align: center; }
            @media (max-width: 768px) {
              body main #skills .skills-container .skills-top .st-body .st-wrapper-beo .st-items {
                padding: 0;
                flex-basis: 25%; } }
            body main #skills .skills-container .skills-top .st-body .st-wrapper-beo .st-items p {
              font-size: 1rem;
              font-weight: 500; }
      body main #skills .skills-container .skills-process {
        margin-bottom: 2rem; }
        body main #skills .skills-container .skills-process .sp-header {
          text-align: center;
          padding: 2rem 0;
          position: relative; }
          body main #skills .skills-container .skills-process .sp-header:after {
            content: '';
            background: #0d1d2c;
            height: 2px;
            width: 50px;
            position: absolute;
            top: 80%;
            left: 47%; }
        body main #skills .skills-container .skills-process .sp-body {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          padding: 1rem 1rem; }
          body main #skills .skills-container .skills-process .sp-body .sp-items {
            padding: 0 .8rem;
            margin-bottom: 2rem;
            text-align: center; }
            @media (max-width: 768px) {
              body main #skills .skills-container .skills-process .sp-body .sp-items {
                padding: 0 .5rem;
                flex-basis: 33%; } }
            body main #skills .skills-container .skills-process .sp-body .sp-items p {
              font-size: 1rem;
              font-weight: 500; }
          body main #skills .skills-container .skills-process .sp-body #discoverP:hover {
            transition: all .1s ease-in-out;
            color: #00508B; }
          body main #skills .skills-container .skills-process .sp-body #ideaP:hover {
            transition: all .1s ease-in-out;
            color: #FCD733; }
          body main #skills .skills-container .skills-process .sp-body #uxP:hover {
            transition: all .1s ease-in-out;
            color: #A70042; }
          body main #skills .skills-container .skills-process .sp-body #developP:hover {
            transition: all .1s ease-in-out;
            color: #18463B; }
          body main #skills .skills-container .skills-process .sp-body #testP:hover {
            transition: all .1s ease-in-out;
            color: #0C841D; }
          body main #skills .skills-container .skills-process .sp-body #launchP:hover {
            transition: all .1s ease-in-out;
            color: #A60004; }
  body main #projects {
    background: #d4d8e2;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main #projects .projects-container {
      width: 100%;
      border-radius: 5px; }
      body main #projects .projects-container .project-1,
      body main #projects .projects-container .project-2,
      body main #projects .projects-container .project-3 {
        display: flex;
        justify-content: center; }
        body main #projects .projects-container .project-1 .project-item-wrap,
        body main #projects .projects-container .project-2 .project-item-wrap,
        body main #projects .projects-container .project-3 .project-item-wrap {
          display: flex;
          padding: 3rem;
          max-width: 1200px; }
          body main #projects .projects-container .project-1 .project-item-wrap .project-head,
          body main #projects .projects-container .project-2 .project-item-wrap .project-head,
          body main #projects .projects-container .project-3 .project-item-wrap .project-head {
            height: 300px;
            width: 1000px;
            box-shadow: 2px 5px 15px; }
          body main #projects .projects-container .project-1 .project-item-wrap .project-body,
          body main #projects .projects-container .project-2 .project-item-wrap .project-body,
          body main #projects .projects-container .project-3 .project-item-wrap .project-body {
            height: 100%;
            width: 100%;
            color: #0d1d2c;
            display: flex;
            justify-content: center;
            align-items: center; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper,
            body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper,
            body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper {
              display: flex;
              flex-direction: column;
              height: 200px; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-button,
            body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-button,
            body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-button {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center; }
              body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-button a,
              body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-button a,
              body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-button a {
                margin-right: .5rem;
                padding: 1rem 1.5rem;
                border: 2px solid #ffffff;
                background: #0d1d2c;
                color: white;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500;
                transition: all .2s ease-in-out; }
                body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-button a a,
                body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-button a a,
                body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-button a a {
                  color: white; }
                body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-button a:hover,
                body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-button a:hover,
                body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-button a:hover {
                  cursor: pointer;
                  background-color: #ffffff;
                  border: 2px solid #0d1d2c;
                  color: #0d1d2c; }
        @media (max-width: 1440px) {
          body main #projects .projects-container .project-1 .project-item-wrap,
          body main #projects .projects-container .project-2 .project-item-wrap,
          body main #projects .projects-container .project-3 .project-item-wrap {
            display: flex;
            padding: 2rem;
            max-width: 1000px; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-head,
            body main #projects .projects-container .project-2 .project-item-wrap .project-head,
            body main #projects .projects-container .project-3 .project-item-wrap .project-head {
              border: 2px solid black;
              height: 250px;
              width: 850px;
              margin-right: 1rem; } }
        @media (max-width: 1200px) {
          body main #projects .projects-container .project-1 .project-item-wrap,
          body main #projects .projects-container .project-2 .project-item-wrap,
          body main #projects .projects-container .project-3 .project-item-wrap {
            padding: 1.5rem;
            max-width: 800px; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-head,
            body main #projects .projects-container .project-2 .project-item-wrap .project-head,
            body main #projects .projects-container .project-3 .project-item-wrap .project-head {
              height: 200px;
              width: 700px;
              margin-right: 2rem; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-top h2,
            body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-top h2,
            body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-top h2 {
              font-size: 2.1rem; } }
        @media (max-width: 992px) {
          body main #projects .projects-container .project-1 .project-item-wrap,
          body main #projects .projects-container .project-2 .project-item-wrap,
          body main #projects .projects-container .project-3 .project-item-wrap {
            flex-direction: column;
            padding: 2.5rem; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-head,
            body main #projects .projects-container .project-2 .project-item-wrap .project-head,
            body main #projects .projects-container .project-3 .project-item-wrap .project-head {
              height: 285px;
              width: 500px;
              margin-right: 0; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-body,
            body main #projects .projects-container .project-2 .project-item-wrap .project-body,
            body main #projects .projects-container .project-3 .project-item-wrap .project-body {
              margin: 0;
              padding: 0;
              height: auto;
              display: block; }
              body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper,
              body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper,
              body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper {
                text-align: center;
                margin-top: 2rem;
                height: auto; }
                body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-button,
                body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-button,
                body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-button {
                  justify-content: center;
                  margin-top: 1rem; } }
        @media (max-width: 768px) {
          body main #projects .projects-container .project-1 .project-item-wrap,
          body main #projects .projects-container .project-2 .project-item-wrap,
          body main #projects .projects-container .project-3 .project-item-wrap {
            padding: 2rem 0;
            margin: 0; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-head,
            body main #projects .projects-container .project-2 .project-item-wrap .project-head,
            body main #projects .projects-container .project-3 .project-item-wrap .project-head {
              height: 235px;
              width: 410px; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-bottom p,
            body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-bottom p,
            body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-bottom p {
              font-size: 1rem; }
            body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-button,
            body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-button,
            body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-button {
              justify-content: center;
              margin-top: 1rem; } }
        @media (max-width: 576px) {
          body main #projects .projects-container .project-1 .project-item-wrap .project-head,
          body main #projects .projects-container .project-2 .project-item-wrap .project-head,
          body main #projects .projects-container .project-3 .project-item-wrap .project-head {
            height: 215px;
            width: 370px; }
          body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-top h2,
          body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-top h2,
          body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-top h2 {
            font-size: 1.9rem; }
          body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-bottom p,
          body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-bottom p,
          body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-bottom p {
            font-size: .9rem; } }
        @media (max-width: 414px) {
          body main #projects .projects-container .project-1 .project-item-wrap .project-head,
          body main #projects .projects-container .project-2 .project-item-wrap .project-head,
          body main #projects .projects-container .project-3 .project-item-wrap .project-head {
            height: 190px;
            width: 325px; }
          body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-top h2,
          body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-top h2,
          body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-top h2 {
            font-size: 1.8rem; }
          body main #projects .projects-container .project-1 .project-item-wrap .project-body .pb-wrapper .pb-bottom p,
          body main #projects .projects-container .project-2 .project-item-wrap .project-body .pb-wrapper .pb-bottom p,
          body main #projects .projects-container .project-3 .project-item-wrap .project-body .pb-wrapper .pb-bottom p {
            font-size: .8rem; } }
    body main #projects .project-1 {
      background-color: #6E90B5; }
      body main #projects .project-1 .project-head {
        background-image: url("../img/gymfitness.jpg");
        background-size: cover; }
    body main #projects .project-2 {
      background-color: #FFF7D9; }
      body main #projects .project-2 .project-head {
        background-image: url("../img/fangtasticbrows.jpg");
        background-size: cover; }
    body main #projects .project-3 {
      background-color: #6E90B5; }
      body main #projects .project-3 .project-head {
        background-image: url("../img/4runner.jpg");
        background-size: cover; }
  body main #contact {
    background-color: white;
    color: #0d1d2c;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    body main #contact .contact-content {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 500px; }
      @media (max-width: 1200px) {
        body main #contact .contact-content {
          width: 95%; } }
      @media (max-width: 992px) {
        body main #contact .contact-content .contact-text p {
          font-size: 1rem; } }
      @media (max-width: 768px) {
        body main #contact .contact-content .contact-text {
          align-items: center; } }
      @media (max-width: 576px) {
        body main #contact .contact-content .contact-text {
          align-items: center; }
          body main #contact .contact-content .contact-text h2 {
            font-size: 2.2rem; }
          body main #contact .contact-content .contact-text h3 {
            font-size: 1.3rem; }
          body main #contact .contact-content .contact-text p {
            font-size: .9rem; } }
      @media (max-width: 414px) {
        body main #contact .contact-content .contact-text {
          align-items: center; }
          body main #contact .contact-content .contact-text p {
            font-size: .8rem; } }
      body main #contact .contact-content .contact-text {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body main #contact .contact-content .contact-text h2 {
          margin-bottom: 2rem;
          display: flex;
          justify-content: center; }
        body main #contact .contact-content .contact-text p {
          margin-bottom: 1rem; }
        body main #contact .contact-content .contact-text a {
          width: fit-content; }
      body main #contact .contact-content .contact-svg {
        width: 50%;
        display: flex;
        justify-content: center; }
        @media (max-width: 1200px) {
          body main #contact .contact-content .contact-svg {
            width: 40%; } }
        @media (max-width: 992px) {
          body main #contact .contact-content .contact-svg {
            width: 30%; } }
        @media (max-width: 768px) {
          body main #contact .contact-content .contact-svg {
            display: none; } }
        body main #contact .contact-content .contact-svg img {
          width: 80%; }
          @media (max-width: 1200px) {
            body main #contact .contact-content .contact-svg img {
              width: 100%; } }
  body main footer {
    background-color: #d4d8e2;
    color: #0d1d2c;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center; }
    body main footer .footer-container {
      width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center; }
      body main footer .footer-container .footer-items {
        text-align: center;
        margin: .7rem;
        cursor: pointer; }
        body main footer .footer-container .footer-items a {
          color: #0d1d2c; }
          body main footer .footer-container .footer-items a:hover {
            color: #24517b;
            transition: all .2s ease-in-out;
            color: #ffffff; }
