header {
  background-color: $primary-color;
  height: 100vh;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: fixed;
  z-index: 5;
  
  .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;

    .nav-item {
      padding: 2rem 0rem 0rem 8rem;
      margin-right: 2rem;
    }

    .nav-link {
      white-space: nowrap;
      color: $fourth-color;
    }

    .nav-link:hover {
      @include easeOutNAV();
    }

    .nav-item-line {
      background: white;
      margin: 1rem 2rem;
      padding: 0rem 0rem 2px 8rem;
    }
  }
  // header

  @media screen and (max-width: 1200px) {
    width: 175px;
  }

  // header
  @media screen and (max-width: 992px) {
    width: 150px;

    .menu-nav {
      font-size: 1rem;
      font-weight: 500;
  
      .nav-item {
        padding: 2rem 0rem 0rem 8rem;
        margin-right: 1rem;
      }
  
      .nav-link {
        white-space: nowrap;
        color: $fourth-color;
      }
  
      .nav-link:hover {
        @include easeOutNAV();
      }
  
      .nav-item-line {
        background: white;
        margin: 1rem 1rem;
        padding: 0rem 0rem 2px 7rem;
      }
    }
  }

  // header
  @media screen and (max-width: 768px) {
    width: 120px;

    .menu-nav {
      font-size: .9rem;
      font-weight: 500;
  
      .nav-item {
        padding: 2rem 0rem 0rem 8rem;
        margin-right: 1rem;
      }
  
      .nav-link {
        white-space: nowrap;
        color: $fourth-color;
      }
  
      .nav-link:hover {
        @include easeOutNAV();
      }
  
      .nav-item-line {
        background: white;
        margin: 1rem 1rem;
        padding: 0rem 0rem 2px 6rem;
      }
    }
  }

  // header
  @media screen and (max-width: 576px) {
    display: none;
  }
}